/* card styles _card.scss */

// For large screen remove foundation column left padding so that card shows up with no left padding
.column, .columns {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
}

@media only screen and (min-width: 64.0625em){
  .column, .columns {
      padding-left: 0rem;
      padding-right: 0.9375rem;
  }
}

.card {
  margin-top: 10px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 10px;

  //border-radius: 2px;
  box-shadow: $default-boxshadow;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: white;

  .ribbon
  {
      position: relative;
      min-height: 40px;
      background-color: $primary-color;
      .title {
        position: absolute;
        left: 0px;
        padding-left: 20px;
        padding-top: 5px;
        h4 {
          font-family: $primary-title-font-family;
          color: $primary-light-text-color;
          margin: 0px;
          padding: 0px;
        }
        
        h3 {
          font-family: $primary-title-font-family;
          color: $primary-light-text-color;
          margin: 0px;
          padding: 0px;
        }
        
      }
  }

  .header {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
    min-height: 100px;
    background-color: $primary-color;
    
    img {
      max-height: 240px;
      min-height: 240px;
      width: 100%;
      
    }
    

    .title {
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding: 20px;
      h4 {
        font-family: $primary-title-font-family;
        color: $primary-light-text-color;
        margin: 0px;
        padding: 0px;
      }
      
      h3 {
        font-family: $primary-title-font-family;
        color: $primary-light-text-color;
        margin: 0px;
        padding: 0px;
      }
      
    }
  }
}

.card {
  .authorinfo {
    align-items: center;
    box-sizing: border-box;
    color: $secondary-dark-text-color;
    display: flex;
    flex-direction: colum;
    font-size: 13px;
    font-weight: normal;
    justify-content: flex-start;
    padding: 20px;
    text-align: left;
    img {
      width: 50px;
      height: 50px;
      border-radius: 150px;
      -webkit-border-radius: 150px;
      -moz-border-radius: 150px;
    }
    span {
      color: $secondary-dark-text-color;
      display: block;
      padding-left: 5px;
    }
  }
  .content {
    color: $secondary-dark-text-color;
    padding: 20px;
    text-align: left;
    min-height: 150px;
    max-height: 150px;
    overflow: hidden;

  }

}

.card:hover{
    opacity: .8;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}


#main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

section {
  flex: 1;
}

/* end card styles _card.scss */


