/* Top Nav styles */

$top-nav-background: $primary-color;
$top-nav-bottom: 1px solid $divider-color;
$top-nav-expanded-background: rgb(51,51,51);

.namelogo h1 {
    font-family: $primary-font-family;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}

@media only screen and (min-width: 40.063em) {
    .namelogo h1 {
        font-size: 20px;
        text-align: center;
    }
}


@media only screen and (min-width: 64.063em) {
    .namelogo h1 {
        font-size: 24px;
        text-align: left;
    }
}

.contain-to-grid {
    background: $top-nav-background;
    border-bottom: $top-nav-bottom;
}

.top-bar {
    background: $top-nav-background;
    .namelogo
    {
        h1
        {
            a{            
                color: $primary-light-text-color;
                width: auto;            
            }
        }
    }

    

// overrive foundation top nav right sub menu style
    .top-bar-section li:not(.has-form) a:not(.button) 
    {
        background: $top-nav-background;
        font-size: 1em;
        font-weight: 600;
        color: $primary-light-text-color;
    }
    .top-bar-section li:not(.has-form) a:not(.button):hover {
          background: $primary-color-light; 
          color:$primary-color;
    }

    .toggle-topbar.menu-icon a {
        color: $top-nav-background
    }
}

.top-bar.expanded .toggle-topbar a {
    color: $top-nav-expanded-background
}
